/*Colors*/
/*Fonts*/
/*Width*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

header {
  background-color: #AAA0A0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .link_logo {
  display: flex;
  justify-content: center;
}
header .link_logo .logo {
  width: 40%;
}
header ul .list_item {
  display: flex;
  font-weight: 700;
  font-size: 23px;
  font-family: "Bebas Neue", cursive;
}
header ul .list_item .link {
  text-decoration: none;
  color: black;
}
header ul .list_item .boton_prueba {
  width: 120px;
  height: 45px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

body {
  background-image: url(/images/pexels-cottonbro-3826435.jpg);
  color: #AAA0A0;
  width: 100%;
}

/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

footer {
  background-color: #AAA0A0;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
footer .footer_item {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: small;
}
footer .logo_footer {
  width: 15%;
}

/*
Necesito:
color
font-family
font-size
font-weight
*/
/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

.store-prueba .title {
  background-color: aliceblue;
  color: black;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.store-prueba .paragraph {
  color: aliceblue;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  font-weight: normal;
  text-align: justify;
}

.title-1 {
  background-color: aliceblue;
  color: black;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 3rem;
  padding: 0;
}

.card .card-body {
  padding: 1rem;
}
.card .card-body .card-title {
  font-family: "Bebas Neue", cursive;
  color: black;
  font-size: 2rem;
}
.card .card-body .card-text {
  color: black;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}
.card .card-body h5 {
  color: black;
}

.col-md-4 {
  padding-right: 0;
}

/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

.list_prices, p, .content_bio {
  color: aliceblue;
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
}

.form-resize {
  height: 100px;
  max-width: 100%;
}

.form-group {
  color: aliceblue;
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
}

.boton-form {
  font-family: "Bebas Neue", cursive;
}

.card-body {
  padding: 0;
}

.w-90 {
  width: 90%;
}

.contact-form {
  width: 100%;
  margin-bottom: 4rem;
}

.submit {
  color: white;
  background-color: #0d6efd !important;
  border-radius: 3px;
  padding: 0.5rem;
}

.clear {
  color: white;
  background-color: #6c757d !important;
  border-radius: 3px;
  padding: 0.5rem;
}

/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

.list_prices, p, .content_bio {
  color: aliceblue;
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
}

.h2_services {
  color: black;
  background-color: aliceblue;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  text-align: center;
}

.content_bio .artist {
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  text-shadow: 3px 3px black;
  font-size: 3rem;
}
.content_bio .mote {
  font-weight: bolder;
}

.insta_logo {
  width: 40px;
}

/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

.list_prices, p, .content_bio {
  color: aliceblue;
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
}

.list_prices {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.barber-img .img {
  display: flex;
  width: 100%;
  padding: 15px;
}
.barber-img .img_section div {
  flex: 1 1 200px;
}

.col {
  padding: 24px;
}

.img_section {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/*
Necesito:
color
font-family
font-size
font-weight
*/
/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

.carousel-item img {
  /*Se agrega para arreglar height imgs carousel*/
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.store-link {
  color: grey;
  text-decoration: none;
  color: black;
}

.store-link:hover {
  color: mediumpurple;
  background-color: black;
  border-radius: 5px;
}

.store-p {
  margin-top: 15px;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 25px;
  width: 45%;
  align-items: center;
}
.store-p p {
  font-family: "Bebas Neue", cursive;
  color: black;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 968px) {
  .media-centrado {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .media-margin-top {
    margin-top: 3rem;
  }

  .media-hide {
    display: none !important;
  }
}
/* @media desktop*/
@media screen and (min-width: 969px) {
  .carrusel-hide {
    display: none;
  }

  .media-desktop {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
  }
}
/* From uiverse.io by @meermubashar */
.contact-button {
  width: 140px;
  height: 45px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  margin-left: 3rem;
}

.contact-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: all 0.5s;
  color: inherit;
}

.contact-button:hover::before {
  width: 100%;
}

.contact-button:hover {
  color: black;
}

.contact-button:active:before {
  background: #b9b9b9;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Colors*/
/*Fonts*/
/*Width*/
.w-45 {
  width: 45%;
}

.width-90 {
  width: 90%;
}

.content_bio, p, .list_prices {
  color: aliceblue;
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
}

/*
Necesito:
color
font-family
font-size
font-weight
*/

/*# sourceMappingURL=style.css.map */
