@import "../base/variables";
@import '../base/extend';




.form-resize{
    
    height: 100px;
    max-width: 100%;

}
.form-group{
    color: $title-bg;
    font-family: $title-font;
    font-weight: bolder;
}


.boton-form{

    font-family: $title-font;

}


.card-body{
    padding: 0;
    
}
.w-90{
    width: 90%;
}

.contact-form{
    width: 100%;
    margin-bottom: 4rem;
}