@import '../base/variables';
@import '../base/extend';

.h2_services{
    color: $title-color;
    background-color: $title-bg;
    font-family: $title-font;
    font-size: $title-size;
    text-align: center;




}



.content_bio{
    @extend %paragraphs;

    .artist{
        font-weight: bold;
        font-family: $title-font;
        text-shadow: 3px 3px black;
        font-size: 3rem;
    
    }
    .mote{
     
        font-weight: bolder;
    }
}

.insta_logo{
    width: 40px;
}